html {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratBold'),
    url('../fonts/MontserratBold.woff2') format("woff2"),
    url('../fonts/MontserratBold.woff') format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratExtraBold'),
    url('../fonts/MontserratExtraBold.woff2') format("woff2"),
    url('../fonts/MontserratExtraBold.woff') format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratMedium'),
    url('../fonts/MontserratMedium.woff2') format("woff2"),
    url('../fonts/MontserratMedium.woff') format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratRegular'),
    url('../fonts/MontserratRegular.woff2') format("woff2"),
    url('../fonts/MontserratRegular.woff') format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Montserrat';
  src: local('MontserratSemiBold'),
    url('../fonts/MontserratSemiBold.woff2') format("woff2"),
    url('../fonts/MontserratSemiBold.woff') format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


body {
  max-width: 1920px;
  margin: 0 auto;
}


.container {
  max-width: 1770px;
  margin: 0 auto;
  margin-left: 75px;
  margin-right: 75px;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --gap: 32px;
  --yellow-color: #FFB84D;
  --border: 2px solid #F90;
}



/* header */

.header {
  max-width: 1920px;
  width: 100%;
  height: 100px;
  border-radius: 0px 0px 32px 32px;
  margin: 0;
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.10);
}

.header__logo {
  margin-top: 12px;
  margin-bottom: 14px;
}

.header__container {
  display: flex;
  align-items: center;
}

.header-menu__sandwich {
  display: none;
}

.nav__list {
  display: flex;
}

.header__nav {
  margin-left: auto;
}

.nav__item {
  margin-left: 85px;
  margin-top: 39px;
  margin-bottom: 39px;
}

.nav__link {
  color: #000;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}

.nav__link:focus {
  outline: var(--border);
  outline-offset: 5px;
  border: none;
}

.nav__link:hover {
  border-bottom: var(--border);
}

.nav__link:active {
  color: #E1670E;
  border-bottom: 2px solid #E1670E;
  outline: none;
}

/* hero */

.hero {
  margin-bottom: 50px;
}

.hero__content {
  margin-top: 50px;
  max-width: 1770px;
  height: 620px;
  background-image: url(../img/hero.png);
}

.hero__title {
  margin: 0;
  padding-top: 100px;
  padding-left: 80px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 70px;
  font-weight: 800;
  line-height: normal;
  width: 837px;
  height: 170px;
}

.hero__desc {
  margin: 0;
  padding: 24px 0 0 80px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  max-width: 790px;
  height: 58px;
}

.hero__btn {
  margin: 90px 0 0 80px;
  padding: 25px 39px;
  background-color: #F90;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 280px;
  border-radius: 16px;
  border: none;
}

.btn:focus {
  background-color: #FFB84D;
}

.btn:hover {
  background-color: #FFB84D;
}

.btn:active {
  background-color: #E1670E;
}

/* about */

.about {
  margin-bottom: 100px;
}

.about__title {
  color: #000;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 20px;
}

.about__desc {
  max-width: 1235px;
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 48px;
  margin-top: 22px;
}

.about__section {
  display: flex;
}

/* .about__right {
  background-image: url(../img/builder.png);
  background-repeat: no-repeat;
  max-width: 868px;
  width: 100%;
  height: 622px;
  display: flex;
  align-items: end;
} */

.about__right {
  background-image: url(../img/builder.png);
  background-repeat: no-repeat;
  max-width: 868px;
  width: 50%;
  height: 622px;
  display: -webkit-box;
  display: -ms-flexbox;
  
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.right__img {
  max-width: 868px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.50);
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}

.right__desc {
  margin: 0;
  margin-left: 50px;
  margin-right: 20px;
  max-width: 433px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.right__btn {
  min-width: 175px;
  height: 60px;
  margin-right: 50px;
  background: transparent;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 16px;
  border: 3px solid #F90;
}

.right__btn:focus {
  background-color: #F90;
}

.right__btn:hover {
  background-color: #F90;
}

.right__btn:active {
  background-color: #E1670E;
  border: 3px solid #E1670E;
}

.about__left {
  margin-left: 32px;
  width: 50%;
}

.top__text,
.bottom__text {
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  margin-left: 300px;
  margin-bottom: 62px;
  margin-right: 40px;
}

.left__top {
  margin-bottom: 32px;
  background-image: url(../img/Frametop.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-position-x: 58px;
  background-size: 190px 165px;
}

.left__bottom {
  background-image: url(../img/Framebottom.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-position-x: 58px;
  background-size: 190px 165px;
}

.left__top,
.left__bottom {
  display: flex;
  border-radius: 36px;
  border: 1px solid #CACACA;
  ;
}

.top__title,
.bottom__title {
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 8px;
}

.top__desc,
.bottom__desc {
  max-width: 450px;
  margin: 0;
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

/* stages */

.stages {
  margin-bottom: 15px;
}

.stages__title {
  color: #000;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 32px;
}

.stages__block {
  display: flex;
}

.stages__left {
  max-width: 870px;
}

.left-block__title {
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin-top: 0;
  margin-bottom: 8px;
}

.left-block__desc {
  max-width: 758px;
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-top: 0;
  margin-bottom: 16px;
}

.stages__right {
  margin-top: 10px;
  margin-left: 142px;
  max-width: 870px;
  width: 100%;
  height: 460px;
  background-image: url(../img/stages.png);
  background-repeat: no-repeat;
}

.left-block__button {
  margin-bottom: 85px;
}

.btn-one {
  width: 175px;
  height: 60px;
  padding: 19px 38px;
  border-radius: 16px;
  border: none;
  background: #F90;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btn-two {
  width: 147px;
  height: 60px;
  padding: 19px 38px;
  border-radius: 16px;
  border: 1px solid #000;
  background: transparent;
  margin-left: 27px;
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.btn-two:focus {
  color: #FFFFFF;
  background-color: #666;
  border: 1px solid #666;
}

.btn-two:hover {
  color: #FFFFFF;
  background-color: #666;
  border: 1px solid #666;
}

.btn-two:active {
  color: #FFFFFF;
  background-color: #000;
}

/* questions */

.questions {
  margin-bottom: 100px;
}

.questions__title {
  color: #000;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 30px;
}

.questions__row {
  display: flex;
  gap: var(--gap);
  --offsets: 2;
}


.questions__block {
  max-width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
  flex-direction: column;
  border-radius: 32px;
  border: 1px solid #CACACA;
  padding: 65px 65px 65px 59px;
}

.questions__block__title {
  margin: 0;
  margin-bottom: 9px;
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.questions__block__desc {
  margin: 0;
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

/* footer */

.footer {
  height: 594px;
  background-color: #000;
}

.footer__row {
  display: flex;
}

.block-left {
  flex-direction: column;
}

.block-left__img {
  margin-top: 48px;
  margin-bottom: 16px;
}

.nav-footer__link {
  color: #CACACA;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}

.nav-footer__link:focus {
  outline: var(--border);
  outline-offset: 5px;
  color: #CACACA;
}

.nav-footer__link:hover {
  color: #FF9900;
}

.nav-footer__link:active {
  color: #E1670E;
  outline: none;
}

.nav-footer__list {
  margin-bottom: 90px;
}

.social__ok {
  margin-right: 22px;
}

.social__ok:focus {
  outline: var(--border);
  outline-offset: 5px;
}

.social__ok:hover .social__ok__svg path {
  fill: #FF9900;
}

.social__ok:active .social__ok__svg path {
  fill: #E1670E;
  outline: none;
}

.social__vk:focus {
  outline: var(--border);
  outline-offset: 5px;
}

.social__vk:hover .social__vk__svg path {
  fill: #FF9900;
}

.social__vk:active .social__vk__svg path {
  fill: #E1670E;
  outline: none;
}

.block-center {
  margin-left: 349px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.block-center__title {
  color: #CACACA;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  margin-top: -2px;
  margin-left: 2px;
  margin-bottom: 25px;
}

.block-center__form {
  display: flex;
  flex-direction: column;
}

.form__name {
  width: 570px;
  height: 60px;
  box-sizing: border-box;
  background-color: #414141;
  border-radius: 16px;
  border: none;
  color: #CACACA;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  padding: 16px 328px 14px 26px;
  margin-bottom: 25px;
}

.form__email {
  width: 570px;
  height: 60px;
  box-sizing: border-box;
  background-color: #414141;
  border-radius: 16px;
  border: none;
  color: #CACACA;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  padding: 14px 494px 14px 25px;
  margin-bottom: 25px;
}

.form__text {
  width: 570px;
  height: 150px;
  box-sizing: border-box;
  background-color: #414141;
  border-radius: 16px;
  border: none;
  color: #CACACA;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  padding: 14px 447px 104px 26px;
  margin-bottom: 32px;
}

input:focus {
  background-color: #666666;
}

input:hover {
  background-color: #666666;
}

input:active {
  background-color: #666666;
}

.form__btn {
  border-radius: 16px;
  border: none;
  background-color: #F90;
  padding: 20px 53px;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.form__checkbox {
  margin-left: 19px;
  margin-top: 22px;
}

.form__label {
  width: 261px;
  height: 32px;
  color: #CACACA;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.block-right {
  margin-left: 237px;
}

.block-right__desc {
  margin-top: 135px;
  width: 363px;
  color: #CACACA;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}